h1{
  text-transform: uppercase;
  text-align: center;
  color: rgb(43, 92, 226);
  font-weight: 100;
  font-size: 5rem;
}
.pr-content{
  width: 95%;
  margin: 2% auto;
}
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
*{
  color: rgb(14, 41, 97);
}
